body{
  position: relative;

 background-image: url("Midnight City.jpg");
 background-attachment:fixed;
 background-repeat: no-repeat;

 
}
*{
  
  margin: 0;

}
.nav {
  display: flex;
  flex-direction: row;
  
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0); 
}

.nav a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top:12px;
  padding-bottom:12px ;
  padding-left: 5%;
  padding-right: 5%;
  text-decoration: none;
  font-weight: bolder;
  font-size: 30px;
}

.nav a:hover {
  color: rgba(255, 250, 250, 0.466);
  background-color: rgba(85, 88, 86, 0.863);
  
}      
.active{
  
  background-color: rgb(26, 228, 177);

}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/



  .h1{
    padding-bottom: 15%;
    margin-left: 24%;
    width: 50%;
    text-decoration:underline;
    text-align: center;
    font-size: 30px;
    height: 80px;
    background-image:url("football.jpeg");
    color: rgb(223, 208, 208);
  }



.div1{
  padding-top:7% ;
  padding-bottom: 25%;
  
  display: block;
  width: 100%;
 }
.div2{
  padding-right: 4%;
  padding-bottom: 10%;
      float: right;
}
.div3{

  display:inline;
    color: rgb(228, 167, 111);
    font-size: 35px;
    font-weight:bold;
    font-style: italic;
  float: left;
  object-fit: contain;
 opacity: 0;
  animation: animation 4s forwards;
 animation-delay: 0.5s;
}

.div4{

  padding-top:7% ;
  display: block;
  width: 100%;
 }
.div5{
  padding-left: 3%;
      float: left;
      
}
.div6{
  
  padding-right: 7%;
  display:inline;
    color: rgb(228, 167, 111);
    font-size: 35px;
    font-weight:bold;
    font-style: italic;
  float: right;
  object-fit: contain;
 opacity: 0;
  animation: animation 4s forwards;
 animation-delay: 2s;
}

@keyframes animation {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}




h3{
  display: inline-block;
  font-size: 30px;
 margin-left: 5%;
  color: aliceblue;
  margin-top: 30%;
  margin-bottom:0 ;
}
  h2{
    font-size: 40px;
    color: rgb(182, 255, 225);
  }

  .s1{
    color:rgb(241, 141, 141)
  }


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/


  .contact
  {
      display: block;
      height: 100px;
      width: 100%;
      background-color: rgba(75, 23, 23, 0);
      display: flex;
      justify-content: center;
      margin-top: 5%;
      
  }
 
  .fa {
      padding: 2%;
      margin-left:3% ;
  
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    .fa-youtube {
      background: #ff0000;
      color: white;
    }
    .fa-instagram {
      background: #131daf;
      color: white;
    }
    /*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/


    @media   (max-width:767px) 
{

    body{
      background-attachment: fixed;
        width: 100%;
    }
    .nav{
      
       position: relative;
        width: 100%;
        font-size: 10px;
        padding-bottom: 10%;
    }
    .nav a{
      
      font-size: 10px;
    }
    .div1{
      padding-top:7% ;
      width: 100%;
     }
    
    .div3{
      padding-bottom: 10%;
        font-size: 20px;
     
  
    }

    .div4{
      padding-top:7% ;
      width: 100%;

    }

    .div6{

   

    padding-bottom: 10%;
        font-size: 20px;
        }

        .fa {
          padding-top: 8%;
          margin-left:3% ;
          width: 30px;
          text-align: center;
          text-decoration: none;
          border-radius: 50%;
        }

  
}